extends base.pug

block script
    <script src="../static/js/about.js"></script>

block style
    <link rel="stylesheet" href="../static/css/about.css">

block body
        <div class="container-fluid ">
            <div class="row">
                <div class = "col-md-12 col-12 mx-auto px-0 backgroud">
                    <div class="jumbotron">
                        <div class="col-md-10 col-12 mx-auto" >
                            <h1 class="display-4">Save Our Society</h1>
                            <p class=" intro ">Healing the planet starts in your garage, in your kitchen, and at your dining room table.</p>
                            <p class=" intro ">The goal is simple. Carbon dioxide is the climate’s worst enemy. </p>
                            <hr class="my-5">
                            <p class="utility">This webpage is to remind how we are ruining our planet for our future generations. This webpage also tells you about the <span> <a href="/weather">Weather</a> </span> and <span> <a href="/aqi">AQI</a> </span> of searched places. </p>
                        </div>
                    </div>
                </div>
               
                <div class = "col-md-8 col-12 mx-auto  ">
                    <div class="card mb-3 shadow">
                        <img src="../static/images/about_weather2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title"><span> <a href="/weather">Get Weather !</a> </span></h3>
                          <p class="card-text">Get weather forecast of your city with just a click. The weather can change in a split second. Your safety depends on timely nowcasts and forecasts that provide understandable information you can use.</p>
                          <p class="card-text">Global warming is increasing the frequency and intensity of some types of extreme weather. For example, warming is causing more rain to fall in heavy downpours. There are also longer dry periods between rainfalls. This, coupled with more evaporation due to higher temperatures, intensifies drought.</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="card mb-3 shadow">
                        <img src="../static/images/about_aqi2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title"><span> <a href="/aqi">Get AQI !</a> </span></h3>
                          <p class="card-text">An air quality index is used by government agencies to communicate to the public how polluted the air currently is in their cities. Quickly click on the AQI link and see how is your city is doing.</p>
                          <p class="card-text">Climate change might also affect human health by making our air less healthy to breathe. Higher temperatures lead to an increase in allergens and harmful air pollutants.</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="media shadow">
                        <img src="../static/images/me.jpeg" class="mr-3" alt="...">
                        <div class="media-body">
                          <h1>About Me</h1>  
                          <h2 class="aboutMe mt-0"><span><a href="https://www.instagram.com/sanskar.kedia.01/"">Sanskar Kedia</a> </span></h2>
                          <p>An energetic and imaginative young web developer who is able to work alongside other talented IT professionals in creating websites to the very highest standards.  Have a high awareness of industry issues and trends, particularly in regard to accessibility, usability, and emerging technologies.</p>
                          <a href="https://drive.google.com/file/d/1-PxWrLefFh1pqk28h0RpzwhmEYX_G5Xm/view?usp=sharing" target="_blank"> <button class="btn btn-primary">Learn more</button></a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
