extends base.pug

block script
    <script src="../static/js/sos.js"></script>

block style
    <link rel="stylesheet" href="../static/css/sos.css">

block body
        <div class="container-fluid ">
            <div class="row">
                <div class = "col-md-8 col-12 mx-auto px-0 backgroud">
                    <div class="row">
                        <div class = "col-md-12 col-12 main_header_right align-items-center err">
                            <figure class="errIMG">
                                <img src="../static/images/error.jpeg" alt="">
                            </figure>
                            <p>Thanks for visiting Save Our Society!</p>
                            <h1> Oops! Page Not Found. </h1>
                            <a href="/"> <button class="btn btn-primary">Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
