extends base.pug


block style
    <link rel="stylesheet" href="../static/css/weather.css">

block body
        <div class="container-fluid ">
            <div class="row">
                <div class = "col-md-10 col-12 mx-auto">

                    <div class="main_content">
                        <form action="" class="temp_form">
                            <input type="text" id="cityName" placeholder="enter the name of the city!" autocomplete="off">
                            <input type="submit" id="submitBTN" value="search">
                        </form>
                    </div>
                    <div class="tempINFO">
                        <div class="top_layer">
                            <p id="day">Date</p>
                        </div>
                        <div class="main_layer">
                            <p id="city">The Weather Will Be Displayed Here!</p>
                            <div class="middle_layer ">
                                <p id="temp"><span>0</span><sup>o</sup>C</p>
                                <p id="temp_status"> <i class="fa fa-heart" aria-hidden="true"></i> </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

block script
    <script src="../static/js/weather.js"></script>
